html {
  -webkit-text-size-adjust: 100%;
}

body {
  --background-color: #dfdfdf;
  --border-color: #000000;
  --accent-color: #0047ee;
  padding: 0;
  margin: 0 auto;
  font-size: 1rem;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background: var(--background-color);
  position: relative;
}

.logo {
  display: block;
  font-size: .8rem;
  padding: 1rem 1rem;
  line-height: 1rem;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.logo span::before {
  content: "\a";
  white-space: pre;
}

.neutral-button {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  line-height: 1rem;
  font-weight: 500;
}

.neutral-button svg {
  display: block;
}

.more-button-top-left {
  position:absolute;
  right:0;
  top:0;
  padding: .5rem;
  margin: .75rem 1rem;
  border-radius: 100%;
}

.more-button-top-left:hover {
  background: #999;
}

.more-button-top-left:active {
  background: #777;
}


.search-field-wrapper {
  --searchfield-height: 3.5rem;
  height: var(--searchfield-height);
  position: relative;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.search-field-icon {
  position: absolute;
  left: .75rem;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  line-height: var(--searchfield-height);
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  fill: #333;
}

.search-field-icon svg {
  display: block;
}

.search-field-clear {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  line-height: var(--searchfield-height);
  padding: 0 1rem;
  color: #666;
  fill: #666;
  border-radius: 100%;
}

.search-field-clear:hover {
  fill: #333;
}

.search-field-clear:active {
  fill: #777;
}

.search-field {
  height: var(--searchfield-height);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 2rem;
  padding: .75rem 1rem;
  padding-left: 2.7rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.533);
  border-radius: 0;
  -webkit-appearance: none;
  border: 3px solid var(--border-color);
}

.search-field-wrapper .search-field:focus {
  border-color: var(--accent-color);
}

.suggestions-box {
  font-size: .8rem;
  font-weight: 500;
  padding: .55rem 0;
  line-height: 1rem;
  margin: 0 1rem;
  color: var(--border-color);
}

.grade-system-button {
  color: var(--accent-color);
  font-weight: 700;
  font-style: italic;
}

.grade-system-button:hover {
  text-decoration: underline;
}

.current-grade-system {
  font-weight: 700;
  color: black;
  font-style: normal;
}

.grades-wrapper {
  display: flex;
  margin: 0 1rem 1rem 1rem;
}

.grade-sport {
  width: 65%;
}

.grade-boulder {
  width: 35%;
}

.grade-header {
  padding: .55rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 3px solid var(--border-color);
  line-height: 1;
}

.grade {
  position: relative;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: .25rem;
  overflow: hidden;
}

.grade-label {
  font-size: .8rem;
  font-weight: 500;
  color: white;
  background: black;
  display: inline-block;
  max-width: 95%;
}

.grade-label.current {
  background: var(--accent-color);
}

.grade-label span {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  margin-right: 20px;
  text-overflow: ellipsis;
  padding: 2px 2px 2px 4px;
  vertical-align: bottom;
  text-transform: uppercase;
  white-space: nowrap;
}

.info-popup:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.info-popup.open:before {
  display: block;
}

.info-popup-modal {
  background: var(--accent-color);
  color: white;
  border: #333333 solid 0px;
  border-radius: 3px;
  text-align:left;
  position: fixed;
  left: 50%;
  z-index: 11;
  width: 480px;
  max-width: 100%;
  min-height: 80%;
  box-shadow:0 5px 10px rgba(0,0,0,0.3);
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  top: 20%;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
  transition: transform .25s;
}

.info-popup-modal.open {
  transform: translate(-50%, 0);
}

.info-popup-modal .close-button {
  fill: white;
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: .5rem;
  border-radius: 100%;
}

.info-popup-modal .close-button:hover {
  background: rgba(255,255,255,.3);
}

.info-popup-modal .close-button:active {
  background: rgba(255,255,255,.2);
}

.info-popup-modal a {
  color: white;
}

.info-popup-modal a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  body {
    width: 66%;
    margin: 0 auto;
  }
  .info-popup-modal {
    padding: 3rem 3rem;
    min-height: unset;
    transform: translate(-50%, 2000px);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 33%;
    margin: 0 auto;
  }
}
