<div class="grade">
  <span class="grade-label {{if (eq @currentGradeSystem @gradeSystem) "current"}}"><span>{{@gradeSystemDisplayName}}</span></span><br>
  {{if this.currentGrade this.currentGrade "-"}}
</div>